.msg--container {
  width: 100%;
  display: flex;
}

.msg--own {
  justify-content: start;
}

.msg--alien {
  justify-content: end;
}

.msg {
  max-width: 60%;
  padding: 1em;
  display: flex;
  flex-direction: column;
}

.msg--own--reverse {
  align-items: start;
  background-color: rgba(169, 169, 169, 0.08);
  border-radius: 12px;
  border: 1px solid rgba(143, 143, 143, 0.3);
  padding: 12px;
  margin: 12px;
}

.msg--alien--reverse {
  align-items: end;
}


.msg--service {
  display: flex;
  width: 100%;
  margin-bottom: 0.5em;
}

.msg--text {
  width: fit-content;
  border-radius: 0.5em;
  display: flex;
  justify-content: start;
}

.msg--bg--own {
  background-color: transparent;
  color: rgb(255, 255, 255);
}

.msg--bg--alien {
  background-color: gray;
}